body {
  text-align: center;
  color: #fff;
  font-size: 25px:;
}

h1, {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}
.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-section {
  flex: 3;
width: 60%;
height: 100vh;

}

.row {
  height: 33.3%;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

article {
   display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
}

#aside-column {
  flex: 2;
  height: 100vh;
}

.square {
  height: 100%;
  text-align: center;
}

.column {
  height: 100vh;
  width: 100%;
}
#square01 {
  background-color:  #3DBB7C;
  flex: 2;
  flex-direction: column

}
#square02 {
  background-color: #FD9D27;
  flex: 1;
}
#square03 {
  background-image: url('./images/john-muir.jpg');
  background-size: cover;
  
}
#square04  {
  background-color: #278CC2;
  flex: 1;
}
#square05 {
  background-color: #EF5B4E;
  flex: 1;
}
#square06 {
  background-color: #3DBB7C;
  flex: 1;
}
#square07 {
  background-color: #F66932;
  flex: 1;
}
#square08 {
  background-color: #278CC2;
  flex: 1;
}
#square09 {
  background-color: #f66932;
  flex: 1;
}

img.icon {
  height: 40%;
  width: 40%;
  margin: auto;
}
